@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
/* 
  general styles
*/

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.brand-text{
  color: #FA6931;
}

/* 
  Bootstrap overrides
*/

.navbar-default {
  background-color: #fff;
  border-color: #F7F5F5;
}

.navbar-default .navbar-nav>li>a {
  color: #FA6931;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FA6931;
}

.navbar-default .navbar-brand {
  color: #FA6931;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #FA6931;
  padding: 10px 35px;
  margin: 5px 0;
}

/* 
  Major sections
*/

#brand-hero {
  padding: 180px 100px;
  background-color:rgba(252, 110, 75, 0.78);
  color: #fff;
}

footer {
  background-color: #F3F0F0;
  border-top: 10px solid #E7E1E1;
  padding: 25px 0 90px 0;
  margin-top:15px;
  color:;
}

/* 
  Buttons and links
*/

.btn-brand, a.btn-brand {
  padding: 10px 55px;
  border: 5px solid #fff;
  color: #fff;
}

.btn-basic, a.btn-basic {
  padding: 10px 55px;
  border: 5px solid #FA6931;
  color: #FA6931;
}
